@charset "utf-8";
@import url("banner.css");

/* CSS Document */

*{
	padding:0;
	margin:0;
}

a img{
	border: none;
}

/*===============banner================*/

#m1, #m2{
	position:relative;
	width:100%;
	height:auto;
	margin:auto;
	overflow:hidden;
}

#s_pic, #v_pic{
	position: relative;
	width: 100%;
	height: auto;
}

#s_pic{
	display: none;
}

#s_pic img, #v_pic img{
	width: 100%;
}


/*==============other rwd===============*/

@media only screen and (min-width: 768px) {
#m1, #m2{
	width:80%;
}

#s_pic{
	display: block;
}

#v_pic{
	display: none;
}
}

@media only screen and (min-width: 1200px) {

}