@import url('subsubpage.css');

header{
    text-shadow: 2px 2px 0px rgb(151, 53, 18);
}

.title{
    background: #BFCDD9;
}

.description span{
    text-shadow: 1px 0.5px 0px #7A8C72;
}

header .label{
    font-size: 35px;
    font-family: 'Nanum Pen Script', cursive;
    text-shadow: none;
    padding: 0 3px;
}
