@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Nanum+Pen+Script&family=Noto+Sans+TC:wght@300&display=swap');
@import url('menu.css');

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 251, 247);
    font-family: 'Noto Sans TC', sans-serif;
}

.swi{
    position: relative;
}

.cover{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 100px;
    -ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 6px;
    font-family: 'Handlee', cursive;
    color: rgba(255, 251, 247, 0.8);
    z-index: 1000;
}

.wave {
    position: relative;
    display: block;
    z-index: 1;
}

#s_pic{
    position: relative;
	width: 100%;
    height: auto;
    margin: auto;
}

#s_pic img{
    width: 100%;
    height: auto;
}

.intro{
    position: relative;
    display: flex;
	display: -webkit-flex;
	/* align-items: baseline; */ 
	
    height: 70vh;
    background: linear-gradient(to right,#fffbf1,#f2eee5);
}

.subintro{
    position: relative;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    -webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
    /*background: #fffbf1;*/
}

.subintro img{
    height: 90%;
    width: auto;
    position: absolute;
    top: 50%;
    right: 0;
    -ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.subintro{
    font-size: 20px;
}

.subintro .name{
    position: relative;
    display: block;
    font-family: 'Handlee', cursive;
    font-size: 40px;
    padding: 7px;
    text-shadow: 02px 0.5px 0px rgb(255, 215, 106);
}

.subintro .eng{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
}

.subintro .who{
    position: relative;
    padding: 5px;
    margin: 2px;
    background: rgb(255, 228, 153);
    border-radius: 5px;
}

.wordbox{
    position: absolute;
    top: 50%;
    -ms-transform: translate(10%, -50%);
	-webkit-transform: translate(10%, -50%);
    transform: translate(10%, -50%);
    color: rgb(98, 89, 82);
}

.topics{
    color: rgb(98, 89, 82);
    position: relative;
    display: flex;
	display: -webkit-flex;
	/* align-items: baseline; */ 
	flex-wrap: wrap;	/* 滿了換行 */
	width: 100%;
    height: fit-content;
}

.topic{
    width: 25%;
    height:fit-content;
    -webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}


.topic header{
    display: block;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 50px;
    height: 100px;
    line-height: 100px;
    color:  #337780;
    text-shadow: 2px 1px 0px #62c3cf;
}

.topic .imgbox{
    position: relative;
    margin: auto;
    display: block;
}

.space{
    width: 100%;
    height: 10vh;
    /*background: #85ced8;*/
}

a{
    text-decoration: none;
    color: rgb(98, 89, 82);
}

i{
    padding: 3px;
}

.ig{
    color: #337780;
}

.ig:hover{
    color: #6eceda;
    transition: 0.8s ease;
}

.circle{
    width: 17vw;
    height: 17vw;
    background: #337780;
    border-radius: 50%;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 5px #a7a7a7;
}

.circle:hover{
    transform: scale(1.1);
    transition: 0.6s ease;
}

.topic:nth-child(1) .circle{
    background: url('../images/sketch/Sanyi/1.jpg');
    background-size: 150%;
    background-position: center;
}

.topic:nth-child(2) .circle{
    background: url('../images/painting/251885.jpg');
    background-size: 150%;
    background-position: center;
}

.topic:nth-child(3) .circle{
    background: url('../images/illustration/i3.jpg');
    background-size: 150%;
    background-position: center;
}

.topic:nth-child(4) .circle{
    background: url('../images/other/1.jpg');
    background-size: 150%;
    background-position: center;
}

.pro1{
    position: relative;
    color: rgb(98, 89, 82);
    text-align: center;
    width: 100%;
    font-family: 'Nanum Pen Script', cursive;
    height: 20vh;
    line-height: 20vh;
    font-size: 60px;
    text-shadow: 2px 2px 5px #a7a7a7;
    /*background: #c3e2dd;*/
}

.pro2{
    position: relative;
    color: rgb(98, 89, 82);
    text-align: center;
    width: 100%;
    font-family: 'Nanum Pen Script', cursive;
    height: 30vh;
    line-height: 30vh;
    font-size: 60px;
    text-shadow: 2px 2px 5px #a7a7a7;
}

footer{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    height: 50px;
    z-index: 1000;
    background: #6eceda;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#k1{
    display: none;
}

#v_pic{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
}

#v_pic img{
    width: 100%;
    height: auto;
}

.sp{
    position: relative;
    display: block;
}

header::selection{
    color: #fff;
    background: rgb(145, 132, 123);
    text-shadow: none;
}

header::-moz-selection{
    color: #fff;
    background: rgb(145, 132, 123);
    text-shadow: none;
}

span::selection{
    color: #fff;
    background: rgb(145, 132, 123);
    text-shadow: none;
}

span::-moz-selection{
    color: #fff;
    background: rgb(145, 132, 123);
    text-shadow: none;
}

p::selection{
    color: #fff;
    background: rgb(145, 132, 123);
    text-shadow: none;
}

p::-moz-selection{
    color: #fff;
    background: rgb(145, 132, 123);
    text-shadow: none;
}

br::selection{
    color: #fff;
    background: rgb(145, 132, 123);
    text-shadow: none;
}

br::-moz-selection{
    color: #fff;
    background: rgb(145, 132, 123);
    text-shadow: none;
}

img::selection{
    color: #fff;
    background: rgb(145, 132, 123);
    text-shadow: none;
}

img::-moz-selection{
    color: #fff;
    background: rgb(145, 132, 123);
    text-shadow: none;
}


.name::selection{
    color: #fff;
    background: rgb(145, 132, 123);
    text-shadow: none;
}

.name::-moz-selection{
    color: #fff;
    background: rgb(145, 132, 123);
    text-shadow: none;
}

.topic header::selection{
    color: #c3e2dd;
    background: #337780;
    text-shadow: none;
}

.topic header::-moz-selection{
    color: #c3e2dd;
    background: #337780;
    text-shadow: none;
}

footer::selection{
    color: #c3e2dd;
    background: #337780;
    text-shadow: none;
}

footer::-moz-selection{
    color: #c3e2dd;
    background: #337780;
    text-shadow: none;
}



@media only screen and (max-width: 1262px) and (min-width: 768px){
    .pro2, .pro1{
        height: 13vh;
        line-height: 13vh;
    }

    .space{
        display: none;
    }

    .sp{
        height: 10vh;
        width: 100%;
        display: none;
    }

    footer{
        position: relative;
        top: auto;
        height: 10vh;
        line-height: 10vh;
        display: block;
    }

}

@media only screen and (max-width: 768px){

    .cover{
        font-size: 68px;
    }
    
    #k1{
        display: block;
    }

    #m1{
        display: none;
    }

    .topics{
        position: relative;
        display: block;
        height: auto;
        margin: auto;
        text-align: center;
    }
    
    .topic{
        position: relative;
        display: block;
        margin: auto;
        width: 100%;
        height: auto;
    }

    .topic header{
        height: 100px;
        line-height:  100px;
    }
    
    .circle{
        position: relative;
        display: block;
        width: 60vw;
        height: 60vw;
        margin: auto;
    }

    .wave{
        display: none;
    }

    .sp{
        height: 15vh;
        width: 100%;
        position: relative;
    }

    footer{
        position: relative;
        top: auto;
        height: 10vh;
        line-height: 10vh;
        background: #c3e2dd;
        display: block;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
    }

    .intro{
        display: block;
        width: 100%;
        height: auto;
        background: rgb(255, 251, 247);
    }

    .subintro{
        margin: auto;
        display: block;
        width: 80%;
        height: auto;
    }

    .subintro img{
        width:100%;
        height: auto;
    }

    .subintro:nth-child(2){
        height: fit-content;
    }

    .wordbox{
        position: relative;
        width: 100%;
        top: auto;
        left: auto;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
    }

    .subintro img{
        right: auto;
        top: auto;
        position: relative;
        margin: auto;
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .pro1, .pro2{
        height: 17vh;
        line-height: 17vh;
    }
}