@import url('subsubpage.css');

header{
    text-shadow: 2px 2px 0px #9ABF80;
}

.title{
    background: #D2D9B8;
}

.pic{
    position: absolute;
    top: 10%;
}

.description{
    position: absolute;
}

.description span{
    text-shadow: 1px 0.5px 0px #D0D3D9;
}

header .label{
    font-size: 35px;
    font-family: 'Nanum Pen Script', cursive;
    text-shadow: none;
    padding: 0 6px;
}


@media only screen and (max-width: 1200px){
    .pic{
        left: 12%;
    }
    
    .description{
        position: absolute;
        height: auto;
    }
}
@media only screen and (max-width: 768px){
    .pic{
        position: relative;
        display: block;
        left: auto;
        margin: auto;
        width: 80%;
    }
    .description{
        position: relative;
        display: block;
        right: auto;
        height: auto;
        margin: auto;
        width: 80%;
    }
}