@import url('subsubpage.css');

header{
    text-shadow: 2px 2px 0px rgb(156, 179, 206);
}

.title{
    background: #F2E6CE;
}

.description span{
    text-shadow: 1px 0.5px 0px #B6BF6F;
}

header .label{
    font-size: 35px;
    font-family: 'Nanum Pen Script', cursive;
    text-shadow: none;
    padding: 0 3px;
}
