@import url('subsubpage.css');

header{
    text-shadow: 2px 2px 0px #049DBF;
}

.title{
    background: rgb(11, 198, 219);
}

.description span{
    text-shadow: 1px 0.5px 0px #D9998B;
}

header .label{
    font-size: 35px;
    font-family: 'Nanum Pen Script', cursive;
    text-shadow: none;
    padding: 0 3px;
}
