@import url('subsubpage.css');

header{
    text-shadow: 2px 2px 0px #F27E9D;
}

.title{
    background: #F2E0C9;
}

.description{
    position: absolute;
}

.description span{
    text-shadow: 1px 0.5px 0px #98A633;
}

header .label{
    font-size: 35px;
    font-family: 'Nanum Pen Script', cursive;
    text-shadow: none;
    padding: 0 3px;
}


@media only screen and (max-width: 1200px){
    .pic{
        left: 12%;
    }
    
    .description{
        position: absolute;
        height: auto;
    }
}
@media only screen and (max-width: 768px){
    .pic{
        position: relative;
        display: block;
        left: auto;
        margin: auto;
        width: 80%;
    }
    .description{
        position: relative;
        display: block;
        right: auto;
        height: auto;
        margin: auto;
        width: 80%;
    }
}